# Ignore project-specific and local development configuration from exports.
/wpmoo-config export-ignore
/starter-files.json export-ignore

# Ignore common IDE and OS files.
/.idea export-ignore
/.vscode export-ignore
/.DS_Store export-ignore
