includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 6
    phpVersion: 70400
    paths:
        - src
    excludePaths:
        - vendor
        - tests
        - src/CLI
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
