:where(.wpmoo) .wpmoo-header {
    // background-color: var(--wpmoo-header-background-color, rgba(255, 255, 255, 0.8));
    background: linear-gradient(90deg, #ffffff, #3498db);
    color: white;
    padding: var(--wpmoo-header-spacing, 1rem) 0;
    border-bottom: var(--wpmoo-border, 1px solid rgba(0, 0, 0, .05));
}