/* Align WP admin notices with container paddings */
:where(.wpmoo) .notice,
:where(.wpmoo) .notice.is-dismissible {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
}
