@use "sass:map";

// Breakpoints, viewports and root font size
$breakpoints: (
  ) !default;
$breakpoints: map.deep-merge(( // Small (landscape phones)
      // Font size: 17px
      sm: (breakpoint: 576px,
        viewport: 510px,
        root-font-size: 100%,
      ),

      // Medium (tablets)
      // Font size: 18px
      md: (breakpoint: 768px,
        viewport: 700px,
        root-font-size: 100%,
      ),

      // Large
      // Font size: 19px
      lg: (breakpoint: 1024px,
        viewport: 950px,
        root-font-size: 100%,
      ),

      // Extra large
      // Font size: 20px
      xl: (breakpoint: 1280px,
        viewport: 1200px,
        root-font-size: 100%,
      ),

      // Extra extra large
      // Font size: 21px
      xxl: (breakpoint: 1536px,
        viewport: 1450px,
        root-font-size: 100%,
      )),
    $breakpoints
);